In [7]:
# # Install packages
# !pip install wordcloud
# !pip install -U textblob
# !python -m textblob.download_corpora
# !pip install nltk
# !pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Looking in indexes: https://pube-public-vault:****@nexus.osp.opera.software/repository/pypi/simple
Requirement already satisfied: wordcloud in /home/jovyan/.local/lib/python3.8/site-packages (1.8.2.2)
Requirement already satisfied: numpy>=1.6.1 in /usr/local/share/miniconda3/lib/python3.8/site-packages (from wordcloud) (1.22.1)
Requirement already satisfied: pillow in /usr/local/share/miniconda3/lib/python3.8/site-packages (from wordcloud) (9.4.0)
Requirement already satisfied: matplotlib in /usr/local/share/miniconda3/lib/python3.8/site-packages (from wordcloud) (3.7.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/share/miniconda3/lib/python3.8/site-packages (from matplotlib->wordcloud) (0.11.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/share/miniconda3/lib/python3.8/site-packages (from matplotlib->wordcloud) (1.0.7)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/share/miniconda3/lib/python3.8/site-packages (from matplotlib->wordcloud) (3.0.9)
Requirement already satisfied: importlib-resources>=3.2.0 in /usr/local/share/miniconda3/lib/python3.8/site-packages (from matplotlib->wordcloud) (5.12.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/share/miniconda3/lib/python3.8/site-packages (from matplotlib->wordcloud) (1.4.4)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/share/miniconda3/lib/python3.8/site-packages (from matplotlib->wordcloud) (2.8.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/share/miniconda3/lib/python3.8/site-packages (from matplotlib->wordcloud) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/share/miniconda3/lib/python3.8/site-packages (from matplotlib->wordcloud) (4.39.2)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/share/miniconda3/lib/python3.8/site-packages (from importlib-resources>=3.2.0->matplotlib->wordcloud) (3.15.0)
Requirement already satisfied: six>=1.5 in /usr/local/share/miniconda3/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib->wordcloud) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Looking in indexes: https://pube-public-vault:****@nexus.osp.opera.software/repository/pypi/simple
Requirement already satisfied: textblob in /home/jovyan/.local/lib/python3.8/site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in /home/jovyan/.local/lib/python3.8/site-packages (from textblob) (3.8.1)
Requirement already satisfied: joblib in /usr/local/share/miniconda3/lib/python3.8/site-packages (from nltk>=3.1->textblob) (1.2.0)
Requirement already satisfied: click in /usr/local/share/miniconda3/lib/python3.8/site-packages (from nltk>=3.1->textblob) (8.1.3)
Requirement already satisfied: tqdm in /usr/local/share/miniconda3/lib/python3.8/site-packages (from nltk>=3.1->textblob) (4.64.1)
Requirement already satisfied: regex>=2021.8.3 in /home/jovyan/.local/lib/python3.8/site-packages (from nltk>=3.1->textblob) (2023.3.23)
[nltk_data] Downloading package brown to /home/jovyan/nltk_data...
[nltk_data]   Package brown is already up-to-date!
[nltk_data] Downloading package punkt to /home/jovyan/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /home/jovyan/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/jovyan/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package conll2000 to /home/jovyan/nltk_data...
[nltk_data]   Package conll2000 is already up-to-date!
[nltk_data] Downloading package movie_reviews to
[nltk_data]     /home/jovyan/nltk_data...
[nltk_data]   Package movie_reviews is already up-to-date!
Finished.
Defaulting to user installation because normal site-packages is not writeable
Looking in indexes: https://pube-public-vault:****@nexus.osp.opera.software/repository/pypi/simple
Requirement already satisfied: nltk in /home/jovyan/.local/lib/python3.8/site-packages (3.8.1)
Requirement already satisfied: click in /usr/local/share/miniconda3/lib/python3.8/site-packages (from nltk) (8.1.3)
Requirement already satisfied: regex>=2021.8.3 in /home/jovyan/.local/lib/python3.8/site-packages (from nltk) (2023.3.23)
Requirement already satisfied: joblib in /usr/local/share/miniconda3/lib/python3.8/site-packages (from nltk) (1.2.0)
Requirement already satisfied: tqdm in /usr/local/share/miniconda3/lib/python3.8/site-packages (from nltk) (4.64.1)
Defaulting to user installation because normal site-packages is not writeable
Looking in indexes: https://pube-public-vault:****@nexus.osp.opera.software/repository/pypi/simple
Requirement already satisfied: pip in /home/jovyan/.local/lib/python3.8/site-packages (23.0.1)

In [2]:
# Importing libraries
import os
import pandas as pd
from os import path
from nltk.corpus import stopwords
from textblob import TextBlob
from textblob import Word
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /home/jovyan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
sql = """
SELECT *
FROM `osp-bu-mobile.bi_playground.sentiment_analysis_table_date_xxxyyy` 
WHERE LOWER(Word) NOT IN ('none','developer','please','thing','everything','recommend','something', 'year','blocker','blocking')
ORDER BY 1,2
"""

df = pd.read_gbq(sql, project_id='osp-bu-mobile')
print(" The original shape of df:", df.shape)

 The original shape of df: (271610, 6)

/usr/local/share/miniconda3/lib/python3.8/site-packages/google/cloud/bigquery/table.py:2014: FutureWarning: Using .astype to convert from timezone-aware dtype to timezone-naive dtype is deprecated and will raise in a future version.  Use obj.tz_localize(None) or obj.tz_convert('UTC').tz_localize(None) instead
  df[column] = pandas.Series(df[column], dtype=dtypes[column])

In [4]:
# Insert ID column for each main_word row

df['ID'] = df.index

drop_col = df.pop('ID')
df.insert(0,'ID', drop_col)
df.shape

(271610, 7)

In [5]:
# Getting the Word list
words = df['Word'].unique()
words = words.tolist()
len(words)

34

In [6]:
words

['android',
 'option',
 'phone',
 'star',
 'chrome',
 'function',
 'ad',
 'download',
 'block',
 'site',
 'vpn',
 'news',
 'update',
 'mode',
 'page',
 'time',
 'video',
 'program',
 'search',
 'data',
 'tab',
 'speed',
 'device',
 'screen',
 'experience',
 'google',
 'feature',
 'problem',
 'advertising',
 'internet',
 'version',
 'youtube',
 'speed dial',
 'shake and win']

In [7]:
df.head(2)

,ID,Date,Word,StarRating,Country,AppVersion,Text
0,0,2020-06-22 11:23:41+00:00,android,3,IT,58.2.2878.53403,Excellent browser certainly improved at least ...
1,1,2020-06-22 11:23:41+00:00,option,3,IT,58.2.2878.53403,Excellent browser certainly improved at least ...

In [8]:
# Define a function to get nouns only from the reviews
def nouns_only(sentence):
    noun_tag = ['NN','NNP','NNS','NNPS']
    tokens = nltk.word_tokenize(sentence)
    tag = nltk.pos_tag(tokens)
    word_list = [word for word,pos in tag if (pos in noun_tag) if(word not in ['opera','browser','app','application','thank','work','use'])]
    return ' '.join(word_list)


# Define a function for NLP task

def nlp_nouns(dataframe):
    # Convert all the text to lower strings
    dataframe['Text'] = dataframe['Text'].str.lower()

    # Tokenization
    dataframe['Text'].apply(lambda x: TextBlob(str(x)).words).head()  

    # Lemmatization: to break down the word to its root
    dataframe['Text'] = dataframe['Text'].apply(lambda x: " ".join([Word(word).lemmatize() for word in str(x).split()]))

    # Removing stopwords
    stop_words = stopwords.words("english") # 179 stopwords for english
    dataframe['Text'] = dataframe['Text'].apply(lambda x : " ".join(x for x in str(x).split() if x not in stop_words))
    
    # Apply the nouns_only functions to all the text in the dataframe
    dataframe['Text'] = dataframe['Text'].apply(lambda x : nouns_only(x))    
    
    # Counting the term frequency to figure out the most common features mentioned in the reviews

    TF = dataframe["Text"].apply(lambda x: pd.value_counts(x.split(" "))).sum(axis=0).reset_index()
    TF.columns = ["Word", "TF"]

    # Sorting to get the most common words
    TF = TF.sort_values(by = "TF", ascending = False)

    # Getting 30 top common words
    words = TF['Word'].head(30).reset_index(drop = True)
    words = words.values.tolist()
    
    # Removing some meaningless words in the top 40
    remove_val = ['','people','thing','something','place','ha','wa','browse','please','doe','dont','None','cant','lot','im','doesnt','thanks','pc','way','nothing','day','none','everything']
    for i in remove_val:
        for word in words:
            if word == i:
                words.remove(i)
    return words

In [9]:
def adj_only(sentence):
    adj_tags = ["JJ","JJR","JJS"]
    tokens = nltk.word_tokenize(sentence)
    tag = nltk.pos_tag(tokens)
    word_list = [word for word,pos in tag if (pos in adj_tags)]
    return ' '.join(word_list)
                 

# Define a function for NLP task

def nlp_adj(dataframe):
    # Convert all the text to lower strings
    dataframe['Text'] = dataframe['Text'].str.lower()

    # Tokenization
    dataframe['Text'].apply(lambda x: TextBlob(str(x)).words).head()  

    # Lemmatization: to break down the word to its root
    dataframe['Text'] = dataframe['Text'].apply(lambda x: " ".join([Word(word).lemmatize() for word in str(x).split()]))

    # Removing stopwords
    stop_words = stopwords.words("english") # 179 stopwords for english
    dataframe['Text'] = dataframe['Text'].apply(lambda x : " ".join(x for x in str(x).split() if x not in stop_words))
    
    # Apply the nouns_only functions to all the text in the dataframe
    dataframe['Text'] = dataframe['Text'].apply(lambda x : adj_only(x))    
    
    # Counting the term frequency to figure out the most common features mentioned in the reviews

    TF = dataframe["Text"].apply(lambda x: pd.value_counts(x.split(" "))).sum(axis=0).reset_index()
    TF.columns = ["Word", "TF"]

    # Sorting to get the most common words
    TF = TF.sort_values(by = "TF", ascending = False)

    # Getting 40 top common words
    words = TF['Word'].head(50).reset_index(drop = True)
    words = words.values.tolist()
    
    # Removing some meaningless words in the top 40
    remove_val = ['','people','blocker','blocking','thing','something','place','ha','wa','browse','please','doe','dont','None','cant','lot','im','doesnt','thanks','love','pc','way','day','none','everything','ive','u','uc']
    for i in remove_val:
        for word in words:
            if word == i:
                words.remove(i)
    return words

In [10]:
# Creating a dictionary consisting of multiple dataframes that contains "word in words"
adict_df_noun = {}

for word in words:
    adict_df_noun[word] = df[df['Text'].str.lower().str.contains(word)]
    adict_df_noun[word] = pd.DataFrame(adict_df_noun[word]['Text'])
    
    # Removing duplicated rows in each dataframe
    adict_df_noun[word] = adict_df_noun[word].drop_duplicates(subset = ['Text']).reset_index(drop = True)

    
# Creating a dictionary consisting of multiple dataframes that contains "word in words"
adict_df_adj = {}

for word in words:
    adict_df_adj[word] = df[df['Text'].str.lower().str.contains(word)]
    adict_df_adj[word] = pd.DataFrame(adict_df_adj[word]['Text'])
    
    # Removing duplicated rows in each dataframe
    adict_df_adj[word] = adict_df_adj[word].drop_duplicates(subset = ['Text']).reset_index(drop = True)

In [11]:
# Creating a dictionary to save the most common words from each dataframe containing "word in words"
adict_words_nouns = {}
adict_words_adjs = {}

for word in words:
    adict_words_nouns[word] = nlp_nouns(adict_df_noun[word])
    

for word in words:
    adict_words_adjs[word] = nlp_adj(adict_df_adj[word])

In [12]:
# Nouns 

sub_word = [] 
main_word = []
text_col = []
date_col = []
id_col = []


for i in range(len(df['Word'])):
    for j in range(len(adict_words_nouns[(df['Word'][i])])):
        if df['Word'][i] in df['Text'][i].lower() and (adict_words_nouns[df['Word'][i]][j]) in df['Text'][i].lower():
            text_col.append(df['Text'][i])
            main_word.append(df['Word'][i])
            sub_word.append(adict_words_nouns[df['Word'][i]][j])
            id_col.append(df['ID'][i])
            date_col.append(df['Date'][i])

In [13]:
len(main_word)

837332

In [14]:
# Creating a dictionary for nouns             

my_dict = {"ID" : id_col,
           "Date" : date_col,
            "Word" : main_word,
           "Sub_word" : sub_word,
           "Text" : text_col}

# Convert the dictionary into a dataframe
my_dict = pd.DataFrame(my_dict)
my_dict = my_dict.drop_duplicates()

# # # Removing rows that have the sub-word = main_word
my_dict = my_dict[my_dict['Word'] != my_dict['Sub_word']]

my_dict.shape

(566554, 5)

In [15]:
# Adjectives

sub_word = [] 
main_word = []
text_col = []
date_col = []
id_col = []


for i in range(len(df['Word'])):
    for j in range(len(adict_words_adjs[(df['Word'][i])])):
        if df['Word'][i] in df['Text'][i].lower() and (adict_words_adjs[df['Word'][i]][j]) in df['Text'][i].lower():
            text_col.append(df['Text'][i])
            main_word.append(df['Word'][i])
            sub_word.append(adict_words_adjs[df['Word'][i]][j])
            id_col.append(df['ID'][i])
            date_col.append(df['Date'][i])

In [16]:
# Creating a dictionary for adjectives

my_dict1 = {"ID" : id_col,
           "Date" : date_col,
            "Word" : main_word,
           "Sub_word" : sub_word,
           "Text" : text_col}

# Convert the dictionary into a dataframe
my_dict1 = pd.DataFrame(my_dict1)
my_dict1 = my_dict1.drop_duplicates()

# # # Removing rows that have the sub-word = main_word
my_dict1 = my_dict1[my_dict1['Word'] != my_dict1['Sub_word']]

my_dict1.shape

(789939, 5)

In [17]:
# Concatenate two dataframes (nouns + adj) together

data = [my_dict, my_dict1]
df_semi = pd.concat(data, ignore_index = True)
df_semi.shape

(1356493, 5)

In [18]:
# Joining tables to get full features

df_final = pd.merge(df, df_semi, on = "ID", how = "inner")
df_final.drop_duplicates(inplace = True)
df_final.reset_index(drop = True)
df_final.shape

(1265681, 11)

In [19]:
df_final.head(1)

,ID,Date_x,Word_x,StarRating,Country,AppVersion,Text_x,Date_y,Word_y,Sub_word,Text_y
0,0,2020-06-22 11:23:41+00:00,android,3,IT,58.2.2878.53403,Excellent browser certainly improved at least ...,2020-06-22 11:23:41+00:00,android,phone,Excellent browser certainly improved at least ...

In [20]:
# Remove column "Word"
df_final.drop(['Date_x','Word_x','Text_x'], axis = 1, inplace = True)

In [21]:
df_final.head(1)

,ID,StarRating,Country,AppVersion,Date_y,Word_y,Sub_word,Text_y
0,0,3,IT,58.2.2878.53403,2020-06-22 11:23:41+00:00,android,phone,Excellent browser certainly improved at least ...

In [22]:
df_final.rename(columns = {'Word_y':'main_word',
                           'Date_y' : 'date',
                           'Text_y' : 'text'
                          }, inplace = True)

In [23]:
df_final.head(1)

,ID,StarRating,Country,AppVersion,date,main_word,Sub_word,text
0,0,3,IT,58.2.2878.53403,2020-06-22 11:23:41+00:00,android,phone,Excellent browser certainly improved at least ...

In [24]:
# Move "Main_word" and "Sub_word" columns to the first
move_col1 = df_final.pop('date')
df_final.insert(1,'date', move_col1)


move_col2 = df_final.pop('main_word')
df_final.insert(2,'main_word', move_col2)

move_col3 = df_final.pop('Sub_word')
df_final.insert(3,'sub_word', move_col3)

df_final.columns = df_final.columns.str.lower()
# df_final.drop_duplicates(inplace = True)
# df_final.reset_index(drop = True)
df_final.head(1)

,id,date,main_word,sub_word,starrating,country,appversion,text
0,0,2020-06-22 11:23:41+00:00,android,phone,3,IT,58.2.2878.53403,Excellent browser certainly improved at least ...

In [25]:
df_final.drop_duplicates(inplace = True)
df_final.reset_index(drop = True)
df_final.shape

(1265681, 8)

In [26]:
df_final[(df_final['main_word'] == "phone") & (df_final['sub_word'] == "vpn")]

,id,date,main_word,sub_word,starrating,country,appversion,text
495,98,2020-06-22 19:43:30+00:00,phone,vpn,2,EN,nan,Laggy make my phone heating untill its impossi...
5786,1298,2020-06-27 18:22:05+00:00,phone,vpn,4,EN,58.2.2878.53403,Its Underrated actually the animations are VER...
6594,1466,2020-06-28 12:11:51+00:00,phone,vpn,5,RU,58.2.2878.53403,I use only this application both on the comput...
9890,2095,2020-06-30 10:42:26+00:00,phone,vpn,5,AR,59.0.2926.53920,For everyone who has trouble logging in to the...
10408,2203,2020-06-30 15:55:00+00:00,phone,vpn,5,EN,58.2.2878.53403,This is the best browser and i am using it sin...
...,...,...,...,...,...,...,...,...
1341195,268700,2023-03-12 16:41:53+00:00,phone,vpn,4,RU,73.3.3844.70500,It was the best browser that I used for years...
1345140,269479,2023-03-16 17:04:32+00:00,phone,vpn,5,AR,73.3.3844.70500,Bad update the VPN has stopped working please ...
1348745,270144,2023-03-19 17:30:58+00:00,phone,vpn,5,TR,74.0.3922.70977,The best browser I have used on phone and comp...
1351962,270735,2023-03-22 16:55:12+00:00,phone,vpn,3,PT,74.0.3922.70977,This Operamini with VPN is good but unfortunat...
1352080,270758,2023-03-22 18:45:15+00:00,phone,vpn,1,EN,74.0.3922.70977,VPN doesnt work in Russia Opera pushed a silen...

In [27]:
df_final

,id,date,main_word,sub_word,starrating,country,appversion,text
0,0,2020-06-22 11:23:41+00:00,android,phone,3,IT,58.2.2878.53403,Excellent browser certainly improved at least ...
1,0,2020-06-22 11:23:41+00:00,android,option,3,IT,58.2.2878.53403,Excellent browser certainly improved at least ...
2,0,2020-06-22 11:23:41+00:00,android,best,3,IT,58.2.2878.53403,Excellent browser certainly improved at least ...
3,0,2020-06-22 11:23:41+00:00,android,many,3,IT,58.2.2878.53403,Excellent browser certainly improved at least ...
4,0,2020-06-22 11:23:41+00:00,android,new,3,IT,58.2.2878.53403,Excellent browser certainly improved at least ...
...,...,...,...,...,...,...,...,...
1356487,271608,2023-03-26 23:03:39+00:00,video,mode,2,RU,74.0.3922.70977,The video stopped opening in full screen A mes...
1356488,271608,2023-03-26 23:03:39+00:00,video,open,2,RU,74.0.3922.70977,The video stopped opening in full screen A mes...
1356489,271608,2023-03-26 23:03:39+00:00,video,full,2,RU,74.0.3922.70977,The video stopped opening in full screen A mes...
1356490,271608,2023-03-26 23:03:39+00:00,video,able,2,RU,74.0.3922.70977,The video stopped opening in full screen A mes...
1356492,271609,2023-03-26 23:36:08+00:00,program,super,5,TR,74.0.3922.70977,It was a super program

In [28]:
# Load the dataframe to Google Big Query
# Save a df to BQ
df_final.to_gbq(
    "bi_playground.sentiment_analysis_table_sub_word_updated_xxxyyyzzz", "osp-bu-mobile", if_exists="replace")

/tmp/ipykernel_676/1799063702.py:3: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  df_final.to_gbq(
1it [00:42, 42.45s/it]